.page {
  position: absolute;
  width: 100%;
  top: 20px;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
   -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
       transition: opacity .3s linear;
}

.page.second {
  color: firebrick;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.pageButton {
  color: firebrick;
}