.introjs-tooltipbuttons {
  text-align: center; 
  direction: rtl;     
}

.introjs-skipbutton {
  left: 0;
  right: auto;
}

.introjs-tooltip {
  direction: rtl;
}

.introjs-prevbutton,
.introjs-nextbutton,
.introjs-exitButton {
  float: none;              
  display: inline-block;    
  margin: 0 10px;          
}

.introjs-bullets {
  ul {
    li {
      float: right;
    }
  }
}
